Source: ip2location-io
Standards-Version: 4.6.2
Maintainer: IP2Location <support@ip2location.io>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang
Vcs-Git: https://github.com/ip2location/ip2location-io-cli
Vcs-browser: https://github.com/ip2location/ip2location-io-cli
Homepage: https://www.ip2location.io
XS-Go-Import-Path: github.com/ip2location/ip2location-io-cli
Package: ip2location-io
Version: 1.2.0
Architecture: amd64
Description: This is the official CLI for the IP2Location.io IP Geolocation API.
